body {
	width:100%;
	margin:0;
	overflow:hidden;
	/*background-image: -webkit-linear-gradient(top, #b3b3b3 0%,#6e6e6e 100%);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #6e6e6e));*/
}
html,body,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong { font-weight: bold; }

/* HTML5 display-role reset for older browsers */

.wireframe {
	/*outline: black solid 1px;*/
}

.edit_date a {
	outline:#78d6e9 2px solid;
}


.nonDisplay {
	display:none;
}

/* === === */

.bar{
	height:18px;
	background-color: green;
}
#photo_setting{
	overflow-y:scroll;
}
#display_area{
	background-color:#515151;
	overflow:hidden;
	outline:black 1px solid;
}

#photo_setting_return{
	z-index:50;
	color:white;
	cursor: pointer;
}

#photo_setting_zoom{
	z-index:50;
	color:white;
	cursor: pointer;
}

#edit_dairy{
	
}

#text_diary_in{
	background-color:#515151;
	color:white;
	opacity:0.6;
	text-align: center;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
}

#text_diary_return{
	position:absolute;
	z-index:50;
	color:white;
	cursor: pointer;
}
#page_present_path{

	text-align: center;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
}

