﻿.site-nav {
  border-radius: 0;
}

footer {
  color: #bbb;
  
  p {
    text-align: center;
  }
}

.login-panel, .register-panel {
  margin: 15px 0;
  height:0px;
  overflow:hidden;
}

.submit {
	margin-top:15px;
	color:white;
	background:#000000;
	text-align:center;
}
.register_sex_label {
	float:left;
	height:30px;
	line-height:23px;
	margin-right:30px;
	margin-top:0px;
}

.news_image {
	width:64px;
	height:64px;
}

.nonDisplay{
	display:none;
}

td.gray span.ui-state-default {
    color: gray;
    opacity:0.3;
}
table{
	/*background:#b4e8f3;*/
	background:-webkit-linear-gradient(225deg,rgba(80,225,241,1),rgba(224,228,204,0.4));
	background:-webkit-linear-gradient(45deg,rgba(224,228,204,1),rgba(5,225,250,0.4));

}
.ui-datepicker-header a {
	background:#78d6e9;	
	border-radius:20px;
}
#title_container{
	padding-left: 15px;
	padding-right: 15px;
}

.data_content_date {
	display:inline-block;
	height:34px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	line-height: 34px;
	color:white;
	opacity:0.5;
	padding-bottom:10px;
	border-radius:5px;
	margin-right:10px;
	/*background-color:#5cb85c;*/
	background:-webkit-linear-gradient(90deg,#00b800,#5cb85c);
}
#return_datepicker_btn_div{
	display:inline-block;
}

.data_content_date p{
	padding-top:7px;
}

.data_content {
	margin-bottom:10px;
}
#picker_frame{
	border-radius:10px;
	border:#69D2E7 35px solid;
	margin:0px auto;
	/*opacity: 0.7;*/
}

#loading_mask{
	position:fixed;
	top:0px;
	opacity:0.8;
	background:url(/static/css/images/loading.gif) no-repeat;
	background-size:100%;
	/*background:-webkit-linear-gradient(45deg,#999999,#ffffff),url(/static/css/images/loading.gif) center bottom no-repeat;*/
	/*background:-webkit-linear-gradient(45deg,#b2b2b2,#999999);*/
	/*background-image:;*/
}