body {
	/*background-color:#DAD7D7;*/
	font-family: "Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	font-weight: 900;
	color:#616161;
}

.photoSwitching {
	display:none;
}

.wireframe {
	border:solid;
	border-color:black;
	border-width:1px;
}

#panel {
	position:relative;
	margin: 0 auto;
	width:922px;
	height:600px;
	overflow:hidden;
	background-color:#f3f3f3;
}

#panels_div {
	position:absolute;
	width:9999px;
	height:600px;
}

.panel_slide {
	width:920px;
	height:600px;
	float:left;
}

#pre_step_div {
	background-color:#f3f3f3;
	display:none;
	position:absolute;
	width:60px;
	height:600px;
	left:50%;
	margin-left:-524px;
	cursor: pointer;
}

#pre_step {
	margin-top:200px;
	text-align:center;
	line-height:24px;
	font-size:20px;
	cursor: pointer;
}

#next_step_div {
	background-color:#f3f3f3;
	position:absolute;
	width:60px;
	height:600px;
	left:50%;
	margin-left:463px;
	cursor: pointer;
}

#next_step {
	margin-top:200px;
	text-align:center;
	line-height:24px;
	font-size:20px;
	cursor: pointer;
}

/* =========================================================== */
/* ==================== theme choose panel =================== */
/* =========================================================== */


/*-------分類選單--------*/

#theme_classified_panel {
	margin:0 auto;
	margin-top:20px;
	width:840px;
	height:141px;
	overflow:hidden;
}

#themeContainer {
	height:141px;
}
/*
#theme_selected_frame_container {
	height:141px;
	margin-top:-141px;
	background:#ade1ef;
	z-index:-10;
}
*/
#theme_previous {
	width:25px;
	height:141px;
	margin-left:-27px;
	margin-top:-1px;
	cursor:pointer;
	position:absolute;
}

#theme_next {
	width:25px;
	height:141px;
	cursor:pointer;
	position:absolute;
	margin-left:841px;
	margin-top:-1px;
}

.themeImageHeightMax {
	height:131px;
	width:auto;
}

.themeImageWidthMax {
	height:auto;
	width:131px;
}

.themeImage_Div {
	margin-top:5px;
	margin-left:6.5px;
	width:131px;
	height:131px;
	cursor:pointer;
	float:left;
	border:solid;
	border-width:1px;
	border-color:black;
	z-index:10;
}

.theme_selected {
	position:absolute;
	float:left;
	margin-left:2px;
	width:137px;
	height:137px;
	border:black dotted 1px;
	z-index:9;
}

/*----細項分類選單----*/

#subtheme_choose_panel {
	height:213px;
	margin:0 auto;
	margin-top:10px;
}

#subtheme_display {
	position:relative;
	margin:0 auto;
	width:840px;
	height:213px;
	overflow:hidden;
}

#subtheme_previous {
	position:absolute;
	margin:0 auto;
	margin-left:13px;
	width:25px;
	height:213px;
	cursor:pointer;
}

#subtheme_next {
	position:absolute;
	margin:0 auto;
	margin-left:880px;
	width:25px;
	height:213px;
	cursor:pointer;
	
}

.subthemeDiv {
	margin-top:5px;
	margin-left:4px;
	height:203px;
	width:203px;
	float:left;
	border:solid;
	border-width:1px;
	border-color:black;
	cursor:pointer;
	z-index:10;
}

.subImageDiv {
	position:absolute;
	width:9999px;
	height:203px;
	
}

.subtheme_selected {
	position:absolute;
	float:left;
	margin-left:-2px;
	width:207px;
	height:207px;
	border:black dotted 1px;
	z-index:9;
}

.subthemeImgHeightMax {
	height:203px;
	width:auto;
}

.subthemeImgWidthMax {
	width:203px;
	height:auto;
}

/*------------最終樣式浮框選單---------*/

#subthemestyle_panel {
	width:1411px;
	height:600px;
}

#subthemestyle_pre {
	position:absolute;
	
	width:250px;
	height:500px;
	margin:0 auto;
	float:left;
	cursor:pointer;
	background:white;
}

#subthemestyle_next {
	position:absolute;
	width:250px;
	height:500px;
	margin:0 auto;
	margin-left:1164px;
	float:left;
	cursor:pointer;
	background:white;
}

#subthemestyle_display {
	margin:0 auto;
	margin-left:257px;
	width:900px;
	float:left;
	height:500px;
	overflow:hidden;
}

#subthemestyle_choose {
	position:absolute;
	margin-left:700px;
	margin-top:425px;
	width:150px;
	height:50px;
	background:white;
	opacity:0.5;
	cursor:pointer;
	text-align:center;
	line-height:50px;
}

#subthemestyle_choose:active {
	margin-left:702px;
	margin-top:427px;
}

.subthemestyleContainer {
	margin-top:103px;
	height:293px;
	border:solid;
	border-width:1px;
	border-color:black;
}


.subthemestyleImgDiv {
	width:293px;
	height:293px;
	margin-left:5px;
	float:left;
	border:solid;
	border-width:1px;
	border-color:black;
	cursor:pointer;
	background-color:white;
}

.subThStyleWidthMax {
	width:293px;
	height:auto;
}

.subThStyleHeightMax {
	height:293px;
	width:auto;
}


.subthemestyle_selected {
	position:absolute;
	width:303px;
	height:303px;
	border:red dotted 1px;
}

/*------- 使用者選定主題呈現區塊 --------*/

#subthemestyle_present_panel {
	margin-top:5px;
	margin-left:5px;
	width:910px;
	height:210px;
}

#subthemestyle_selected_container {
	position:absolute;
	margin-top:5px;
	margin-left:500px;
	width:200px;
	height:200px;
	float:left;
}

#subthemestyle_text_container {
	margin-top:5px;
	margin-left:5px;
	width:480px;
	height:200px;
	text-align:center;
	line-height:200px;
	float:left;
}

.subthemestyle_selected_WidthMax {
	width:200px;
	height:auto;
}

.subthemestyle_selected_HeightMax {
	height:200px;
	width:auto;
}


/* ==================================================================== */
/* ==================== content style setting panel =================== */
/* ==================================================================== */

#demos_div {
	width:790px;
	height:270px;
	margin: 0 auto;
	border:solid;
	border-color:black;
	border-width:1px;
}

.demo_div {
	width:250px;
	height:250px;
	float:left;
	margin-left:8px;
	margin-top:8px;
	border:solid;
	border-color:black;
	border-width:1px;
}

.demo_mask {
	width:250px;
	height:250px;
	position:absolute;
	background-color:#807462;
	opacity:0.8;
}

.demoImgHeightMax {
	height:250px;
	width:auto;
}

.demoImgwidthMax {
	width: 250px;
	height: auto;
}

#content_setting_check_box_div {
	margin: 0 auto;
	margin-top: 120px;
	width:790px;
	height:30px;
}

.check_box_div {
	width:250px;
	height:30px;
	margin-left:8px;
	float:left;
}

.content_setting_check_box{
	margin-top:8px;
	float:left;
}

.content_style_des {
	margin-left:30px;
	font-size:18px;
	line-height:30px;
}

/* ===================================================== */
/* ==================== upload panel =================== */
/* ===================================================== */
#photo_upload_panel {
	display: none;
}
#upload_drop_area {
	margin: 0 auto;
	margin-top:10px;
	width:900px;
	height:580px;
	background-image:url('images/ui-bg_diagonals-thick_20_666666_40x40.png');
	background-repeat:repeat;
	overflow:scroll;
}

/* ===================================================== */
/* ============ photo present setting panel ============ */
/* ===================================================== */
#photo_setting_panel {
	display:none;
}

#position_setting_div {
	overflow:hidden;
	margin: 0 auto;
	margin-top:10px;
	width:900px;
	height:450px;
	background-image:url('images/ui-bg_diagonals-thick_20_666666_40x40.png');
	background-repeat:repeat;
}

.photo_display {
	position:relative;
	height:450px;
	width:auto;
}

.mobile_win {
	width:300px;
	height:100%;
	top:-454px;
	border-left-style:solid;
	border-left-color:white;
	border-left-width:3px;
	border-right-style:solid;
	border-right-color:white;
	border-right-width:3px;
	border-top-style:solid;
	border-top-color:black;
	border-top-width:1px;
	border-bottom-style:solid;
	border-bottom-color:black;
	border-bottom-width:1px;
}

#photo_list_display {
	position:relative;
	display:block;
	margin: 0 auto;
	width:755px;
	height:120px;
	margin-top:10px;
	overflow:hidden;
}

#phList_scroll_left {
	position:absolute;	
	margin-left:16px;
	margin-top:10px;
	width:60px;
	height:120px; 
	text-align:center;
	line-height:120px;
	cursor: pointer;
	background-color:#C2CBCE;
}

#phList_scroll_right {
	position:absolute;
	margin-left:843px;
	margin-top:10px;
	width:60px;
	height:120px; 
	text-align:center;
	line-height:120px;
	cursor: pointer;
	background-color:#C2CBCE;
}

#small_photos_div {
	position:absolute;
	background-color:white;
}

.photo_small_div {
	background-image:url('images/ui-bg_diagonals-thick_20_666666_40x40.png');
	background-repeat:repeat;
	height: 120px;
	width: 120px;
	margin-left:5px;
	/*
	border:outset;
	border-color:blue;
	border-width:1px;
	*/
	float: left;
	cursor: pointer;
}

.photo_small {
	height:120px;
	width:auto;
}

/* =========================================================== */
/* ==================== text setting panel =================== */
/* =========================================================== */
#text_setting_panel {
	display:none;
}

#text_setting_div {
	width: 900px;
	height:570px;
	margin: 0 auto;
	margin-top: 10px;
	background-image: url('images/ui-bg_diagonals-thick_20_666666_40x40.png');
	background-repeat: repeat;
}

#text_input_area {
	position:absolute;
	width:300px;
	height:450px;
	margin-top: 50px;
	margin-left:60px;
	font-family: "微軟正黑體", "Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	font-size: 20px ;
	line-height:26px ;
	float:left;
}

#text_setting_preview_button {
	position:absolute;
	width:80px;
	height:40px;
	margin-left:410px;
	margin-top:220px;
	border: outset;
	border-width: 3px;
	background-color:white;
	text-align: center;
	cursor:pointer;
}

#text_setting_preview_button:active{
	margin-left:412px;
	margin-top:222px;
}

#text_preview_area {
	position: absolute;
	width:300px;
	height:450px;
	margin-top: 50px;
	margin-left:540px;
	font-family: "微軟正黑體", "Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	font-size: 20px ;
	color:white;
	line-height:26px ;
	border-left-style:solid;
	border-left-width:3px;
	border-left-color:#DEC8DC;
	border-right-style:solid;
	border-right-width:3px;
	border-right-color:#DEC8DC;
	background-color:black;
	opacity: 0.5;
	text-align: center;
}

/* =========================================================== */
/* ==================== video_uplaod_panel =================== */
/* =========================================================== */

#video_uplaod_panel {
	display:none;
}


/* =========================================================== */
/* ==================== finish panel =================== */
/* =========================================================== */

#setting_finish_panel {
	display:none;
	
}

#finish_message {
	width:920px;
	height:120px;
	text-align:center;
	font-size:32px;
	line-height:120px;
}

#page_qrcode_div {
	width:920px;
	margin: 0 auto;
}