﻿body {
	width:100%;
	margin:0;
	background-color: #DCBDB1;
	background-size:cover;
}
html,body,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong { font-weight: bold; }

/* HTML5 display-role reset for older browsers */

.wireframe {
	outline: black solid 1px;
}

.noneDisplay {
	display:none;
}

/* === === */

#top {
	position: absolute;
}
#complete_photo_setting{
	color:#00ffff;
	font-size:22px;
	cursor:pointer;
}
#page_info {
	color:white;
	text-align: center;
	font-size: 22px;
}


#photo_info_div {
	color:white;
	text-align: center;
	font-size: 22px;
}

#album_window{
	position:absolute;
	overflow: hidden;
}

#frame_area{
	position: relative;
	overflow: hidden;
}

#display_area {
	position: absolute;
	overflow: hidden;
	outline: solid #f2dfca 2px;
	-webkit-border-radius:10px;
	z-index:0;
}
.frame_icon{
	float:left;
	background-size:100% 100%; 
	cursor:pointer;
}
.frame_img{
	position:absolute;
	background-color:transparent;
	pointer-events:none;
}


/* === foot ===  */
#foot {
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	position: absolute;
}

#animations_div::-webkit-scrollbar { 
    display: none; 
}

.animation_name {
	float:left;
	color:white;
	cursor:pointer;
}

#foot_buttons_div {
	overflow-x: scroll;

}

#photo_upload_area {
	position: absolute;
	overflow:hidden;
}
.foot_buttons{
	cursor:pointer;
	float:left;
}
.foot_setting_div {
	position:absolute;
}
.edit_zoom{
	z-index:99;
	position:absolute;
	cursor:pointer;
}

#display_time{
}
#animate_time{
}


.time_div{
	position:relative;
	float:left;
	color:white;
	cursor:pointer;
	text-align:center;
	background-size: contain;
}

.selected{
	-webkit-border-radius:5px;
	background-color:#c0362c;   
}
.turn_page{
	position:absolute;
	/*display:none;*/
	height:100px;
	width:50px;
	cursor:pointer;
	opacity:0.6;
	z-index:50;
}
#edit_text{
	position: absolute;
	border-color:transparent;
	background-color:transparent;
	background-size: contain;
	color:black;
	font-size:20px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	text-align:center;
	opacity:0.6;
	/*display:none;*/
	z-index:10;
}

.text_button{
	z-index:99;
	position:absolute;
	cursor:pointer;
}

.setting_container{
	z-index:20;
	display:none;
	-webkit-border-radius:15px;
	opacity:0.8;
}
#display_div{
	background-color:#f2dfca;
}
#text_div{
	background-color:#8c8c8c;
	z-index:999;
}
#animate_window{
	left:50%;
	top:0%;
	position:absolute;
	overflow:hidden;
	z-index:9;
}
/*#text_window{
	background-color: #e1e1e1;
	position: relative;
	float:left;
	-webkit-border-radius:10px;
	color:white;
	font-size:18px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	z-index:10;
	top:0%;
	overflow:hidden;
}*/


