﻿body {
	width:100%;
	background:black;
	margin:0;
}
html,body,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong { font-weight: bold; }

/* HTML5 display-role reset for older browsers */

.wireframe {
	outline: black solid 1px;
}

.noneDisplay {
	display:none;
}

/* === === */

#top {
	position: absolute;
}
#page_info {
	color:white;
	text-align: center;
	font-size: 22px;
}


#photo_info_div {
	color:white;
	text-align: center;
	font-size: 22px;
}

#display_area {
	position: absolute;
}


/* === foot ===  */
#foot {
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	position: absolute;
	overflow: hidden;
}

.animation_name {
	float:left;
	color:white;
}

#foot_buttons_div {
	overflow-x: scroll;

}

#photo_upload_area {
	position: absolute;
	overflow:hidden;
}
.foot_buttons{
	cursor:pointer;
}



