﻿body {
	width:100%;
	background:black;
	margin:0;
}
html,body,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong { font-weight: bold; }

/* HTML5 display-role reset for older browsers */

.wireframe {
	outline: black solid 1px;
}

.noneDisplay {
	display:none;
}



/*=================================================================*/
/*=================================================================*/
/*===========================  panel consition  ===================*/
/*=================================================================*/
/*=================================================================*/

#panel {
	width:666px;
	height:533px;
	margin: 0 auto;
	overflow:hidden;
}

#outside {
	position:absolute;
	width:666px;
	height:533px;
	background-image:url('/static/images/out_side.png');
}

#center_panel {
	position:absolute;
	overflow:hidden;
	width:212px;
	height:317px;
	margin-left:227px;
	margin-top:108px;
	background: url('/static/images/center.png');
}

#top_panel {
	position:absolute;
	cursor: pointer;
	font-size:22px;
	color:white;
	text-align:center;
	line-height:104px;
	width:329px;
	height:84px;
	margin-left:169px;
	margin-top:14px;
	background-image: url('/static/images/top.png');
}

#bottom_panel {
	position:absolute;
	cursor: pointer;
	width:329px;
	height:82px;
	margin-left:175px;
	margin-top:433px;
	background-image: url('/static/images/bottom.png');
	background-repeat: no-repeat;
}

#left_panel {
	position: absolute;
	cursor:pointer;
	margin-left:18px;
	margin-top:52px;
	width:198px;
	height:428px;
	background-image: url('/static/images/left_no_arrow.png');
}

#right_panel {
	position: absolute;
	cursor:pointer;
	margin-left:449px;
	margin-top:52px;
	width:198px;
	height:428px;
	background-image: url('/static/images/right_no_arrow.png');
}





/*=================================================================*/
/*=================================================================*/
/*===================== function buttons   ========================*/
/*=================================================================*/
/*=================================================================*/

#photo_upload_and_setting_button,#text_edited_button,#vedio_upload_button,#finish_button {
	display: none;
	opacity: 0;
	position:absolute;
	width:110px;
	height:60px;
	cursor:pointer;
	color:white;
	line-height:60px;
	text-align:center;
	font-size:20px;
	background-image:url('/static/images/function_button.png');
	z-index:9999;
}
#photo_upload_and_setting_button {
	margin-left: 10px;
	margin-top: 10px;
	
}
#photo_upload_and_setting_button:hover {
	color:yellow; 
}
#photo_upload_and_setting_button:active {
	margin-left: 12px;
	margin-top: 12px;
}
#text_edited_button {
	margin-left: 546px;
	margin-top: 10px;
}
#text_edited_button:hover {
	color:yellow;
}
#text_edited_button:active {
	margin-left: 548px;
	margin-top: 12px;
}
#vedio_upload_button {
	margin-left: 15px;
	margin-top:463px;
}
#vedio_button_block {
	display:none;
	opacity:0;
	position:absolute;
	width:110px;
	height:60px;
	background-image:url('/static/images/function_button_block.png');
	margin-left: 15px;
	margin-top:463px;
	z-index:9999;
}
#finish_button {
	margin-left:546px;
	margin-top:463px;
}
#finish_button:hover {
	color:red;
}
#finish_button:active {
	margin-left:548px;
	margin-top:465px;
}





/*=================================================================*/
/*=================================================================*/
/*===================== theme choose panel ========================*/
/*=================================================================*/
/*=================================================================*/

.theme_img {
	width:212px;
	height:317px;
}

#confirm {
	position:absolute;
	cursor: pointer;
	text-align:center;
	line-height:82px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	font-size:20px;
	width:329px;
	height:82px;
	margin-left:175px;
	margin-top:433px;
	color:#F38630;
	background: url('/static/images/bottom.png');
	background-repeat: no-repeat;
}
#confirm:active {
	margin-top:435px;
}

#previous_theme_button {
	position: absolute;
	cursor:pointer;
	margin-left:18px;
	margin-top:52px;
	width:198px;
	height:428px;
	background: url('/static/images/left.png');
	display:none;
}
#previous_theme_button:active {
	margin-left:16px;
	margin-top:54px;
}

#next_theme_button {
	position: absolute;
	cursor:pointer;
	margin-left:449px;
	margin-top:52px;
	width:198px;
	height:428px;
	background: url('/static/images/right.png');
	display:none;
}
#next_theme_button:active {
	margin-left:451px;
	margin-top:54px;
}

#img_container {
	height:480px;
}

#img_container img {
	margin-right:20px;
}

.div_no_arrow {
	width:198px;
	height:428px;
	z-index:5;
	outline:black solide 1px;
}





/*=================================================================*/
/*=================================================================*/
/*================ photo upload and setting panel =================*/
/*=================================================================*/
/*=================================================================*/

/*========================================*/
/*============ upload panel ==============*/
#previous_photo_button {
	position:absolute;
	cursor: pointer;
	display:none;
	margin-left:210px;
	margin-top:448px;
	width:125px;
	height:60px;
	z-index:1;
	background: url('/static/images/photo_bottom_pre.png');
}
#previous_photo_button:active {
	margin-left:208px;
	margin-top:450px;
}

#next_photo_button {
	position:absolute;
	cursor: pointer;
	display:none;
	margin-left:335px;
	margin-top:445px;
	width:125px;
	height:60px;
	z-index:1;
	background: url('/static/images/photo_bottom_next.png');
}
#next_photo_button:active{
	margin-left:337px;
	margin-top:447px;
}

#photo_upload_area {
	position: absolute;
	cursor:pointer;
	display:none;
	/*width:198px;*/
	width:630px;
	height:395px;
	margin-top:70px;
	margin-left:20px;
	background-image: url('/static/images/photo_upload_area.png');
	background-repeat: no-repeat;
	z-index:999;
	overflow:hidden;
}

#upload_area_descript {
	position:absolute;
	color:#ffffbd;
	text-align:center;
	z-index:-100;
}


#photo_upload_area:active {
	position: absolute;
	cursor:pointer;
	margin-top:52px;
	margin-left:18px;
}


/*========================================*/
/*========= parameter panel ==============*/
#para_panel {
	position:absolute;
	width:198px;
	height:317px;
	left:50%;
	margin-left:121px;
	margin-top:110px;
	display:none;
}

.para_window {
	width:198px;
	height:64px;
	float:none;
	z-index:0;
	overflow:hidden;
	
}
.para_list_panel {
	width:198px;
	height:40px;
	margin-top:25px;
	margin-left:26px;
	color:white;
	line-height:40px;
	text-align:left;
	cursor:pointer;
	z-index:0;
}
/*========== mobile setting ====================*/
#out_para_panel_mobile {
	display:none;
}
#para_panel_mobile {
	position:absolute;
	top:50%;
	left:50%;
}
#previous_photo_mobile{
	width:30px;
	height:30px;
	position:absolute;
	z-index:99;
	opacity:0;
	display:none;
	background-image: url('/static/images/settingPages/mobileIcon/photo_preview_mobile_small.png');
}
#next_photo_mobile{
	width:30px;
	height:30px;
	position:absolute;
	z-index:99;
	opacity:0;
	display:none;
	background-image: url('/static/images/settingPages/mobileIcon/photo_next_mobile_small.png');
}
#para_setting_mobile{
	position:absolute;
	top:100%;
	overflow:hidden;
	background:transparent;
	/*top:80%;*/
}
#in-animation_mobile {
	cursor:pointer;
	background-image: url('/static/images/settingPages/mobileIcon/in_animation_mobile_button.png');
}
#display-time_mobile {
	cursor:pointer;
	background-image: url('/static/images/settingPages/mobileIcon/display_time_mobile_button.png');
}
#out-animation_mobile {
	cursor:pointer;
	background-image: url('/static/images/settingPages/mobileIcon/out_animation_mobile_button.png');
}
.para_mobile_icon {
	width:60px;
	height:60px;
}
.para_mobile_icon_container {
	height:320px;
}
.para_mobile_window {
	position:absolute;
	z-index:99;
	background-color: #272627;
	opacity: 0.8;
}
.para_list_mobile{
	color:white;
	line-height:40px;
	text-align:center;
	cursor:pointer;
	z-index:0;
}
#in_seconds_mobile {
	/*position:absolute;*/
	float:left;
	color:white;
	width:30px;
	height:20px;
	margin-top:5px;
	margin-left:0px;
	text-align:center;
	line-height:20px;
}
#mobile_in_animation {
	overflow:hidden;
	float:left;
	width:212px;
	height:50px;
}
.mobile_animation_div {
	width:212px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:28px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	color:white;
	position:relative;
	float:left;
}

#display_seconds_mobile {
	/*position:absolute;*/
	float:left;
	color:white;
	width:30px;
	height:20px;
	margin-top:8px;
	margin-left:0px;
	text-align:center;
	line-height:20px;
}

#in_next_animation_mobile{
	position:absolute;
	background-image:url('/static/images/settingPages/mobileIcon/animation_preview.png');
	height:50px;
	width:30px;
	margin-left:-31px;
	margin-top:-50px;
	background-repeat:no-repeat;
}
#in_previous_animation_mobile{
	position:absolute;
	background-image:url('/static/images/settingPages/mobileIcon/animation_next.png');
	height:50px;
	width:30px;
	margin-left:215px;
	margin-top:-50px;
	background-repeat:no-repeat;
}
#out_seconds_mobile {
	/*position:absolute;*/
	float:left;
	color:white;
	width:30px;
	height:20px;
	margin-top:5px;
	margin-left:0px;
	text-align:center;
	line-height:20px;
}
#mobile_out_animation {
	overflow:hidden;
	float:left;
	width:212px;
	height:50px;
}
#out_next_animation_mobile{
	position:absolute;
	background-image:url('/static/images/settingPages/mobileIcon/animation_preview.png');
	height:50px;
	width:30px;
	margin-left:-31px;
	margin-top:-50px;
	background-repeat:no-repeat;
}
#out_previous_animation_mobile{
	position:absolute;
	background-image:url('/static/images/settingPages/mobileIcon/animation_next.png');
	height:50px;
	width:30px;
	margin-left:215px;
	margin-top:-50px;
	background-repeat:no-repeat;
}
/*========================================*/
/*=========== zoom setting panel =========*/
#zoom_line {
	position:absolute;
	height:16px;
	width:105px;
	margin-left:25px;
	margin-top:27px;
	float:left;
}
#zoom_line > img {
	margin-top:-15px;
	padding-bottom: 10px;
}
#zoom_line_pointer {
	height:16px;
	width:10px;
	left:55px;
	margin-top:-52px;
	margin-left:-9px;
	z-index:50;
}
#zoom_ratio_display {
	width:50px;
	height:40px;
	margin-left:88px;
	margin-top:48px;
	float:left;
	color:white;
	line-height:30px;
}
#zoom_container {
	position:relative;
	width:120px;
	height:80px;
	margin-top:15px;
	margin-left:0px;
	/*outline:white solid 1px;*/
}

/*========================================*/
/*========= position setting panel =======*/
#position_div {
	position:relative;
	width:86px;
	height:75px;
	margin-top:115px;
	margin-left:40px;
	background-image: url('/static/images/position_setting_panel_bg.png');
}
#position_top {
	position:absolute;
	width:60px;
	height:32px;
	margin-left:15px;
	margin-top:-15px;
	background-image: url('/static/images/position_setting_panel_top.png');
}
#position_left {
	position:absolute;
	width:48px;
	height:60px;
	margin-left:-20px;
	margin-top:7px;
	background-image: url('/static/images/position_setting_panel_left.png');
}
#position_right {
	position:absolute;
	width:48px;
	height:60px;
	margin-left:62px;
	margin-top:6px;
	background-image: url('/static/images/position_setting_panel_right.png');
}
#position_bottom {
	position:absolute;
	width:60px;
	height:32px;
	margin-left:15px;
	margin-top:56px;
	background-image: url('/static/images/position_setting_panel_bottom.png');
}
#position_center {
	position:absolute;
	width:31px;
	height:31px;
	margin-left:28px;
	margin-top:21px;
	background-image: url('/static/images/position_setting_panel_center.png');
}


/*============================================*/
/*========= in-animation setting panel =======*/
#in-animation_div {
	/*outline:white solid 1px;*/
	position:relative;
	width:150px;
	height:250px;
	margin-top:35px;
}
#in-animation_time {
	/*outline:red solid 1px;*/	
	width:150px;
	height:30px;
	margin-top:-10px;
}
#in-animation_seconds {
	position:absolute;
	color:white;
	width:30px;
	height:20px;
	margin-top:12px;
	margin-left:85px;
	text-align:center;
	line-height:20px;
}


.in-animation_checkbox {
	margin-top:7px;
	height:15px;
	width:110px;
	line-height:15px;
	font-size:15px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
}

.in-animation_clone {
	position:relative;
	overflow:hidden;
}


/*=============================================*/
/*========= display-time setting panel =======*/
#display-time_div {
	position:relative;
	width:150px;
	height:30px;
	margin-top:30px;
}
#display-time_seconds {
	position:absolute;
	color:white;
	width:30px;
	height:20px;
	margin-top:11px;
	margin-left:60px;
	text-align:center;
	line-height:20px;
}


/*=============================================*/
/*========= out-animation setting panel =======*/
#out-animation_div {
	/*outline:white solid 1px;*/
	position:relative;
	width:150px;
	height:250px;
	margin-top:35px;
}
#out-animation_time {
	/*outline:red solid 1px;*/	
	width:150px;
	height:30px;
	margin-top:-10px;
}
#out-animation_seconds {
	position:absolute;
	color:white;
	width:30px;
	height:20px;
	margin-top:12px;
	margin-left:85px;
	text-align:center;
	line-height:20px;
}
.out-animation_checkbox {
	margin-top:7px;
	height:15px;
	width:110px;
	line-height:15px;
	font-size:15px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
}

.out-animation_clone {
	position:relative;
	overflow:hidden;
}






/*=================================================================*/
/*=================================================================*/
/*======================= text edit panel =========================*/
/*=================================================================*/
/*=================================================================*/

#text_preview {
	float:left;
	border-right: white solid 1px;
	width:100px;
	height:35px;
	margin-left:63px;
	margin-top:34px;
	text-align:center;
	font-size:20px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	line-height:35px;
	color:#ffffbd;
}
#text_preview:hover {
	color: yellow;
}
#text_preview:active {
	color: red;
}

#text_edit {
	float:left;
	border-left: white solid 1px;
	width:100px;
	height:35px;
	margin-top:34px;
	text-align:center;
	font-size:20px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	line-height:35px;
	color:#ffffbd;
}
#text_edit:hover {
	color: yellow;
}
#text_edit:active {
	color: red;
}

#text_confirm {
	width:329px;
	height:82px;
	font-size:20px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	text-align:center;
	line-height:82px;
	color:#F38630;
	background-image:url('/static/images/bottom.png');
	background-repeat: no-repeat;
}
#text_confirm:active{
	margin-top:2px;
}

#text_preview_div {
	display:none;
	width:212px;
	background:black;
	color:white;
	font-size:20px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	text-align:center;
	opacity:0;
	word-wrap: break-word;
	word-break: normal; 
}

#text_edit_div {
	display:block;
	width:212px;
	height:317px;
	background:black;
	color:white;
	font-size:20px;
	font-family:"Ubuntu", "sans-serif", "Lucida Grande", "微軟正黑體", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
	text-align:center;
	opacity:1;
}














