﻿.site-nav {
  border-radius: 0;
}

footer {
  color: #bbb;
  
  p {
    text-align: center;
  }
}

.login-panel, .register-panel {
  margin: 15px 0;
  height:0px;
  overflow:hidden;
}

.submit {
	margin-top:15px;
	color:white;
	background:#000000;
	text-align:center;
}
.register_sex_label {
	float:left;
	height:30px;
	line-height:23px;
	margin-right:30px;
	margin-top:0px;
}

.news_image {
	width:64px;
	height:64px;
}
