﻿<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Cliders</title>
		
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.css">
		<link rel="stylesheet" href="/static/css/CloudSliderSetting.css">
		<link rel="stylesheet" href="/static/css/dropzone.css">
		<link  rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css"/>
		
		<script src="/static/js/plugInJs/jquery-1.8.min.js"></script>
		<script src="/static/js/plugInJs/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/static/js/plugInJs/knockout-2.2.0.js"></script>
		<script src="/static/js/plugInJs/TweenMax.js"></script>
		<script src="/static/js/plugInJs/dropzone.js"></script>
		<script src="/static/js/plugInJs/jquery.easing.1.3.js"></script>
		<script src="/static/js/plugInJs/jquery.easing.compatibility.js"></script>
		<script src="/static/js/plugInJs/jquery.bpopup.min.js"></script>
		<script src="/static/js/plugInJs/jquery.mCustomScrollbar.js"></script>
		<script src="/static/js/plugInJs/quo.js"></script>
		<script src="/static/js/plugInJs/jquery.ui.touch-punch.min.js"></script>
		<script>
			$(function() {	
				var themesJSON = '{{themes|safe}}';
				window.themes = JSON.parse(themesJSON);
				
				var in_animationsJSON = '{{in_animations|safe}}';
				window.in_animation_name = JSON.parse(in_animationsJSON);
				
				var out_animationsJSON = '{{out_animations|safe}}';
				window.out_animation_name = JSON.parse(out_animationsJSON);
			})
			
			window.photos = [];
			window.text = "";
			
			window.photo_index = 0;
			
		</script>
	</head>
	
	<body>
		<div id="panel">
			
			<!-- panel consition-->
			<div id="outside"></div>
			<div id="center_panel"></div>
			<div id="top_panel" ></div>
			<div id="left_panel"></div>
			<div id="right_panel"></div>
			<div id="bottom_panel"></div>
			
			<!--function buttons-->
			<div id="photo_upload_and_setting_button">photo</div>
			<div id="text_edited_button">text</div>
			<div id="vedio_upload_button">video</div>
			<div id="vedio_button_block"></div>
			<div id="finish_button">finish</div>
			
			<!--theme choose panel-->
			<div id="previous_theme_button"></div>
			<div id="next_theme_button" ></div>
			<div id="confirm">確定</div>
			
			<!--photo upload and setting panel-->
			{% block content %}
			<div id="photo_upload_area">
				<form id="upload_drop_area" class="dropzone dz-clickable" method="POST" action="/UploadPhoto/">{% csrf_token %}</form>
			</div>
			{% endblock %}
			<div id="previous_photo_button"></div>
			<div id="next_photo_button"></div>
			
			<div id="para_panel"></div>
			<!-- -------------------- update by Paul Ku  2013/11/04 --------- -->
			<div id="out_para_panel_mobile" style="display:none">
				<div id="para_panel_mobile"></div>
				<div id="para_setting_mobile"></div>
			</div>
			<!-- -------------------- update by Paul Ku  2013/11/04 --------- -->
			<!--text edit panel-->
			
			
		</div>
	
		
		<script type="text/javascript">
			var viewModel = {
				currentSettingPhoto: ko.observable(window.photo_index),
			};
			ko.applyBindings(viewModel);
		</script>
		<script src="/static/js/CloudSliderSetting.js"></script>
		<script src="/static/js/ClidersAnimate.js"></script>
	
	</body>
</html>