﻿<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
		<title>Cliders</title>
		
		
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/presentPagesCss/CloudSliders.css">
		
		<script src="/static/js/plugInJs/jquery-1.8.min.js"></script>
		<script src="/static/js/plugInJs/knockout-2.2.0.js"></script>
		<script src="/static/js/plugInJs/TweenMax.js"></script>
		<script src="/static/js/plugInJs/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/static/js/plugInJs/quo.js"></script>
		<script src="/static/js/plugInJs/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/plugInJs/bootstrap.js"></script>
		
		<script>
			$(function() {	
				var photosJSON = '{{photos|safe}}';
				window.photos = JSON.parse(photosJSON);
				var textJSON = '{{contents|safe}}';
				window.text = JSON.parse(textJSON);
				
				var in_animations_JSON = '{{in_animations|safe}}';
				window.in_animations = JSON.parse(in_animations_JSON);
				
				var out_animations_JSON = '{{out_animations|safe}}';
				window.out_animations = JSON.parse(out_animations_JSON);

				var titleJSON = '{{page_title|safe}}';
				window.page_title = JSON.parse(titleJSON);

				var editDateJSON = '{{page_editDate|safe}}';
				window.page_editDate = JSON.parse(editDateJSON);
				
				window.entryPhoto = "/static/images/presentPages/officialDemo/officialDemo.jpg";
			})
		</script>
		
		{{description_fb|safe}}
	</head>
		
	<body style="overflow:hidden;">

		<audio style="position:absolute; display:none;">
			<source src="/static/audio/official_demo.mp3" type="audio/mpeg">
		</audio>
		
		<div id="display">
			<div id="loading_page">
				<div id="loading_img"></div>
				<div id="title" class="loading_label"></div>
				<div id="page_time" class="loading_label"></div>
				<div id="text_diary" class="loading_label"></div>
				<div id="loading_describe">讀取中...</div>
			</div>
			
			<div id="photos_display"></div>
			<div id="button_container" class="panel panel-default">
				<div class="panel-body">
					<div id="previous_button" class="btn btn-info btn-xs" style="display:none;">
						<i class="glyphicon glyphicon-backward"></i>
					</div>
					<div id="animate_play_button" class="btn btn-info btn-xs">
						<i class="glyphicon glyphicon-play"></i>
					</div>
					<div id="pause_button" class="btn btn-info btn-xs">
						<i class="glyphicon glyphicon-pause"></i>
					</div>
					<div id="next_button" class="btn btn-info btn-xs" style="display:none;">
						<i class="glyphicon glyphicon-forward"></i>
					</div>
				</div>
			</div>
		</div>

		<script src="/static/js/presentPagesJs/CloudSliders.js"></script>
		<script src="/static/js/ClidersAnimate.js"></script>
		<script type="text/javascript">
			var viewModel = {
				currentPage: ko.observable(0),
			};
			ko.applyBindings(viewModel);
		</script>
		
	</body>
	
	

</html>