﻿<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1">
		<title>Cliders</title>
		
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.css">
		<link rel="stylesheet" href="/static/css/dropzone.css">
		<link  rel="stylesheet" href="/static/css/jquery.fileupload-ui.css"/>
		<link  rel="stylesheet" href="/static/css/jquery.fileupload.css"/>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/CloudSliderSetting.css">

		
		<script src="/static/js/plugInJs/jquery-1.8.min.js"></script>
		<script src="/static/js/plugInJs/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/static/js/plugInJs/knockout-2.2.0.js"></script>
		<script src="/static/js/plugInJs/TweenMax.js"></script>
		<script src="/static/js/plugInJs/swipe.js"></script>
		<script src="/static/js/plugInJs/jquery.easing.1.3.js"></script>
		<script src="/static/js/plugInJs/jquery.easing.compatibility.js"></script>
		<script src="/static/js/plugInJs/quo.js"></script>
		<script src="/static/js/plugInJs/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/plugInJs/bootstrap.js"></script>
		<script src="/static/js/plugInJs/jquery.fileupload.js"></script>
		<script src="/static/js/plugInJs/jquery.fileupload-process.js"></script>
		<script src="/static/js/plugInJs/jquery.fileupload-image.js"></script>
		
		<script>
			window.photo_index = 0;
			window.in_animation_name = [];
			window.out_animation_name = [];
			window.photos = [];
			window.text = "";

			var pageId_J = '{{pageId|safe}}';
			window.pageId = JSON.parse( pageId_J );

			var page_title_J = '{{page_title|safe}}';
			window.page_title = JSON.parse( page_title_J )

			var page_date_J = '{{page_date|safe}}';
			window.page_date = JSON.parse( page_date_J );
			
		</script>
	</head>
	
	<body>

		
		<div id="album_primary_setting" class="container" data-bind="css:{ nonDisplay: currentSettingPhoto()!=0}">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<form role="form">
						{% block content %}
						<div id="title_setting_container" class="form-group">
					    	<label for="edit_title">請輸入日誌標題:</label>
					    	<input id="edit_title" type="text" class="form-control" placeholder="相簿標題"/>{% csrf_token %}
					  	</div>
					  	<div id="date_setting_container" class="form-group">
					  		<label for="edit_date">請選擇日誌日期:</label>
					  		<input id="edit_date" style="display:none;" type="hidden" class="form-control" placeholder="日誌日期"/>{% csrf_token %}
					  		<div id="select_date_div"></div>
					  	</div>
					  	{% endblock %}
					</form>
					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<button id="album_primary_submit" type="submit" class="btn btn-primary btn-block">下一步</button>
				</div>
			</div>
		</div>	

		<div id="page_setting" class="container" data-bind="css:{ nonDisplay: currentSettingPhoto()!=1 }">
			<div style="margin-top:10px; margin-bottom:10px;" class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<span id="add_new_photo_button" class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>新增相片</span>
						<input id="add_new_photo" type="file" accept="image/*" name="files[]" multiple />
					</span>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<button id="edit_dairy" class="btn btn-primary btn-block">編輯日記</button>
				</div>
			</div>
			
			<div id="photo_setting_container" style="overflow-y:scroll; -webkit-overflow-scrolling: touch;" class="col-xs-12">		
			</div>
			

			<div style="margin-top:10px; margin-bottom:10px;" class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<button id="return_primary_setting" class="btn btn-info btn-block">返回</button>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<button id="page_setting_complete" class="btn btn-success btn-block">完成</button>
				</div>
			</div>		
		</div>	

		<div id="text_diary_setting" class="col-xs-12" data-bind="css:{ nonDisplay: currentSettingPhoto()!=2 }">
			<div id="text_diary_return" class="btn btn-info btn-xs">
				<i class="glyphicon glyphicon-ok"></i>
				<span>上傳日誌</span>
			</div>
		</div>

		<div id="photo_setting" style="display:none;" class="col-xs-12">
			<div id="photo_setting_return" class="btn btn-info btn-xs">
				<i class="glyphicon glyphicon-ok"></i>
				<span>調整完成</span>
			</div>
			<div id="photo_setting_zoom" class="btn btn-info btn-xs">
				<i class="glyphicon glyphicon-zoom-in"></i>
				<span>縮放</span>
			</div>
			<div id="display_area"></div>
			
		</div>			
		
		<script type="text/javascript">
			var viewModel = {
				currentSettingPhoto: ko.observable(0),
			};
			ko.applyBindings(viewModel);
		</script>
		<script src="/static/js/CloudSliderSetting.js"></script>
		<script src="/static/js/ClidersAnimate.js"></script>
	
	</body>
</html>