﻿<!DOCTYPE html>
<!--
window.presentScene 目前情境
-->

<html lang="en">

	<head>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Cliders</title>
		
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.css">
		<link rel="stylesheet" href="/static/css/index.css">
		<script src="/static/js/plugInJs/jquery-1.8.min.js"></script>
		<script src="/static/js/plugInJs/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/static/js/plugInJs/knockout-2.2.0.js"></script>
		<script src="/static/js/plugInJs/jquery.easing.1.3.js"></script>
		<script src="/static/js/plugInJs/jquery.easing.compatibility.js"></script>
		<script src="/static/js/plugInJs/jquery.bpopup.min.js"></script>
		<script src="/static/js/plugInJs/bootstrap.js"></script>
		<script src="/static/js/plugInJs/TweenMax.js"></script>

		<script>
			var newsJSON = '{{news|safe}}';
			window.news = JSON.parse(newsJSON);

			var registerJSON = '{{register|safe}}';
			window.register = JSON.parse(registerJSON);

		</script>

	</head>
		
	<body>
		
		<div class="site-nav navbar navbar-inverse">
		  	<div class="container">
				<div class="navbar-header" style="cursor:pointer;">
			  		<button id="list_button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
			  		</button>
			  
			  		<a id="cata_cliders" class="navbar-brand">Clide.rs</a>
				</div>
			
				<div class="navbar-collapse collapse">
			  		<ul id="functional_nav" class="nav navbar-nav">

			 		</ul>
			  
			  		<ul id="login_register_nav" class="nav navbar-nav navbar-right">
						<li><a id="login_button" href="#"></a></li>
						<li><a id="register_button" href="#"></a></li>
			  		</ul>
				</div>

		  	</div>
		</div>
		
		{% block content %}
		<div id="login_panel" class="login-panel">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
						
						<form role="form">
							<div class="form-group">
								<label for="login_account" class="sr-only">電子信箱</label>
								<input id="login_account" type="email" class="form-control" placeholder="電子信箱" />{% csrf_token %}
							</div>
							
							<div class="form-group">
								<label for="login_password" class="sr-only">輸入密碼</label>
								<input id="login_password" type="password" class="form-control" placeholder="輸入密碼" />{% csrf_token %}
							</div>
				  
							<button id="login_submit" type="submit" class="btn btn-primary btn-block">登入</button>
						</form>
						
					</div>
				</div>
			</div>
		</div>
		
		<div id="register_panel" class="register-panel">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
						
						<form role="form">
							<div class="form-group">
								<label for="register_account" class="sr-only">電子信箱</label>
								<input id="register_account" type="email" class="form-control" placeholder="電子信箱(QR code將寄到此信箱)" />{% csrf_token %}
							</div>
							
							<div class="form-group">
								<label for="register_password" class="sr-only">設定密碼</label>
								<input id="register_password" type="password" class="form-control" placeholder="設定密碼" />{% csrf_token %}
							</div>
							
							<div class="form-group">
								<label for="register_repeat" class="sr-only">重複密碼</label>
								<input id="register_repeat" type="password" class="form-control" placeholder="重複密碼" />{% csrf_token %}
							</div>
							
							<div class="form-group">
								<label for="register_name" class="sr-only">用戶名稱</label>
								<input id="register_name" type="text" class="form-control" placeholder="用戶名稱" />{% csrf_token %}
							</div>

							<div class="form-group">
								<label for="register_date_picker" class="sr-only">出生年月日</label>
								<input id="register_date_picker" type="text" class="form-control" placeholder="出生年月日" />{% csrf_token %}
							</div>
							
							<div class="form-group">
								<label class="register_sex_label">性別:</label>
								<label class="register_sex_label"><input type="radio" id="male_radio" name="register_sex" value="male" checked>{% csrf_token %}男</label>
								<label class="register_sex_label"><input type="radio" id="female_radio" name="register_sex" value="female">{% csrf_token %}女</label>
							</div>
							
							
							<button id="register_submit" type="submit" class="btn btn-primary btn-block">註冊</button>
							
						</form>
						
					</div>
				</div>
			</div>
		</div>
		{% endblock %}

		<div id="index_info" data-bind="css:{ nonDisplay: currentPage()!=0}">
			<div class="jumbotron">
				<div class="container">
					<div id="welcome" class="col-md-7">
					  	<h1>歡迎試用Clide.rs!</h1>
					 	<p>Beta Version</p>
					  	<p>輕鬆編輯相片、日誌。</p>
					  	<p>支援行動裝置瀏覽器，相片即時上傳編輯。</p>
					  	<p>與朋友分享生活中的喜悅，用相片記錄每一天。</p>
					  	<p id="register_info"></p>
					</div>
				
					<div class="col-md-5">
				  		<img src="//placehold.it/640x360&text=Video" alt="" class="img-responsive" />
					</div>

			  	</div>
			</div>

			<div class="container">
			  	<div class="row">
					<div id="news_container" class="col-sm-6">
				  		<h2>最新消息</h2>
					</div>
				
					<div class="col-sm-6">
				  		<h2>幕後團隊</h2>
					</div>
			  	</div>
			</div>
		</div>
		
		
		<div id="personal_date_picker_div"class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" data-bind="css:{ nonDisplay: currentPage()!=1}">
			<div id="add_page_btn_div" style="margin:0 auto; margin-bottom:10px; z-index:999; position:absolute;" >
				<button id="add_page_btn" class="side_btn btn btn-primary btn-md">
					<span class="glyphicon glyphicon-plus" style="font-size:28px;"></span>
				</button>
			</div>
			<div id="picker_frame">
				<div id="personal_date_picker"></div>
			</div>
		</div>

		<div id="personal_page" data-bind="css:{ nonDisplay: currentPage()!=2}">		
			<!-- <div id="date_area" style="margin-top:10px;" class="row" ></div> -->
			<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8">
				<div id="title_container" style="margin-bottom:10px;">
					<div id="return_datepicker_btn_div">
						<button id="return_datepicker_btn" class="side_btn btn btn-primary">
							<i class="glyphicon glyphicon-th"></i>
						</button>
					</div>
				</div>
				<div id="date_container_list" style="min-height:234px;"><!-- <div class="row"></div> --></div>
			</div>
		</div>

		<div id="loading_mask"></div>

		<hr />

		<footer>
		  <div class="container">
			<p style="clear:left; margin-top:10px;" class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8">Copyright &copy; 2013 DonZ Inc. All rights reserved.</p>
		  </div>
		  <div id="fb-root"></div>
		  	<script>
			    (function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=266274320190025";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
	    	</script>
		</footer>
		
		<script src="/static/js/index.js"></script>
		<script type="text/javascript">
		
			var viewModel = {
				currentPage: ko.observable(0),
			};
			ko.applyBindings(viewModel);
			
			
		</script>
		
	</body>
	
	

</html>