﻿<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=0;">
		<title>CLiders Wedding Project</title>
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/myWeddingList.css">
		
		<script src="/static/js/plugInJs/jquery-1.8.min.js"></script>
		<script src="/static/js/plugInJs/knockout-2.2.0.js"></script>
		<script src="/static/js/plugInJs/TweenMax.js"></script>
		<script src="/static/js/plugInJs/jquery-ui-1.10.3.custom.min.js"></script>

		<script src="/static/js/plugInJs/quo.js"></script>
		<script src="/static/js/plugInJs/bootstrap.js"></script>
		
		<script>
			var classNameJson = '{{class_name|safe}}';
			window.class_name = JSON.parse(classNameJson).name;
			var themeNameJson = '{{theme_name|safe}}';
			window.theme_name = JSON.parse(themeNameJson).name;

			var project_listJson = '{{project_list|safe}}';
			window.project_list = JSON.parse(project_listJson);

		</script>

	</head>
		
	<body>
		<nav class="navbar navbar-fixed-top" style="background-color:pink; border:0;" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				</button>
			    <a id="logo" class="navbar-brand" href="#">Cliders Wedding Project</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav"></ul>
			    
			    <ul id="functional_nav_bar" class="nav navbar-nav navbar-right">
			    </ul>
			</div><!-- /.navbar-collapse -->
		</nav>

		{% block content %}
		<div id="login_panel" class="login-panel">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
						
						<form id="login_form" role="form" method="POST">
							<div class="form-group">
								<label for="login_account" class="sr-only">電子信箱</label>
								<input id="login_account" name="account" type="email" class="form-control" placeholder="電子信箱" />{% csrf_token %}
							</div>
							
							<div class="form-group">
								<label for="login_password" class="sr-only">輸入密碼</label>
								<input id="login_password" name="password" type="password" class="form-control" placeholder="輸入密碼" />{% csrf_token %}
							</div>
				  			<div id="login_res" style="display:none;"></div>
							<button id="login_submit" type="submit" class="btn btn-primary btn-block">登入</button>
						</form>
						
					</div>
				</div>
			</div>
		</div>
		{% endblock %}

		<div id="project_content" class="list-group" style="margin-top:50px;">

		</div>

		<div id="edit_album_page_container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none; outline:red solid 1px;">
		</div>


		<script src="/static/js/myWeddingList.js"></script>
		
		<script type="text/javascript">
			var viewModel = {
				currentPage: ko.observable(0),
			};
			ko.applyBindings(viewModel);
		</script>
		
	</body>
	
	

</html>