﻿<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Cliders</title>
		
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.css">
		<link rel="stylesheet" href="/static/css/dropzone.css">
		<link  rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css"/>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/WeddingCardSetting.css">

		<script src="/static/js/plugInJs/jquery-1.8.min.js"></script>
		<script src="/static/js/plugInJs/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/static/js/plugInJs/knockout-2.2.0.js"></script>
		<script src="/static/js/plugInJs/TweenMax.js"></script>
		<script src="/static/js/plugInJs/dropzone.js"></script>
		<script src="/static/js/plugInJs/jquery.easing.1.3.js"></script>
		<script src="/static/js/plugInJs/jquery.easing.compatibility.js"></script>
		<script src="/static/js/plugInJs/jquery.bpopup.min.js"></script>
		<script src="/static/js/plugInJs/jquery.mCustomScrollbar.js"></script>
		<script src="/static/js/plugInJs/quo.js"></script>
		<script src="/static/js/plugInJs/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/plugInJs/bootstrap.js"></script>
		<script>
			$(function() {
				window.pageId = '{{ pageID|safe }}';

				//var themesJSON = '{{themes|safe}}';
				//window.themes = JSON.parse(themesJSON);
				
				/*var in_animationsJSON = '{{in_animations|safe}}';
				window.in_animation_name = JSON.parse(in_animationsJSON);
				
				var out_animationsJSON = '{{out_animations|safe}}';
				window.out_animation_name = JSON.parse(out_animationsJSON);-->*/

				//var picture_frameJSON = '{{picture_frame|safe}}';
				//window.picture_frame = JSON.parse(picture_frameJSON);
				var picture_frames_JSON = '{{ photoframes|safe }}';
				window.picture_frames = JSON.parse(picture_frames_JSON);

				var photos_JSON = '{{ photos|safe }}';
				window.photos = JSON.parse(photos_JSON);
			})
			
			
			window.text = "";
			
			window.photo_index = 0;
			
		</script>
	</head>
	
	<body>

		<div id="top">
			<div id="page_info" style="position:absolute;">0/0</div>
			<!--<img src="/static/images/next_step.png" id="next_step_button" style="position:absolute;" />-->
			<div id="complete_photo_setting" style="position:absolute;">完成</div>
		</div>

		<div id="album_window">
			<div id="frame_area">
				<img src="/static/images/next_page.png" id="next_page" class="turn_page"> </img>
				<img src="/static/images/font_page.png" id="previous_page" class="turn_page"> </img>
				<div id="display_area">
				</div>
			</div>
			<!--<div id="text_window">

			</div>-->
		</div>


		<div id="foot">
			<div id="animation_line_div">
				<div id="effect" style="float:left; color:white;">相片框</div>
				<div id="animations_div">
					<div id="animations_container">
					</div>
				</div>
			</div>
			<div id="foot_buttons_div">
				<div id="foot_button_container">
					<img src="/static/images/upload.png" id="update_button" class="foot_buttons"> </img>
					<img src="/static/images/edit.png" id="edit_button" class="foot_buttons"></img>
					<!--<img src="/static/images/text.png" id="time_button" class="foot_buttons"></img>-->

					{% block content %}
					<div id="photo_upload_area">
						<form id="upload_drop_area" class="dropzone dz-clickable" method="POST" action="/UploadPhoto/">{% csrf_token %}</form>
					</div>
					{% endblock %}
					
				</div>
			</div>

		</div>
		<script src="/static/js/WeddingCardSetting.js"></script>
		<!--<div id="edit_text"></div>-->

		<script type="text/javascript">
			var viewModel = {
				currentSettingPhoto: ko.observable(window.photo_index),
			};
			ko.applyBindings(viewModel);
		</script>
		
		<script src="/static/js/ClidersAnimate.js"></script>
	
	</body>
</html>