﻿<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1; user-scalable=0;">
		<title>Cliders</title>
		
		<link rel="stylesheet" href="/static/css/presentPagesCss/CloudSliders.css">
		
		<script src="/static/js/plugInJs/jquery-1.8.min.js"></script>
		<script src="/static/js/plugInJs/knockout-2.2.0.js"></script>
		<script src="/static/js/plugInJs/TweenMax.js"></script>
		<!-------------------------------------------------------------------------------->
		<script src="/static/js/plugInJs/jquery-ui-1.10.3.custom.min.js"></script>
		<!-------------------------------------------------------------------------------->
		<script src="/static/js/ClidersAnimate.js"></script>
		<script src="/static/js/plugInJs/quo.js"></script>
		
		<script>
			$(function() {	
				var photosJSON = '{{photos|safe}}';
				window.photos = JSON.parse(photosJSON);

				var textJSON = '{{contents|safe}}';
				window.text = JSON.parse(textJSON);
				
				var in_animations_JSON = '{{in_animations|safe}}';
				window.in_animations = JSON.parse(in_animations_JSON);
				
				var out_animations_JSON = '{{out_animations|safe}}';
				window.out_animations = JSON.parse(out_animations_JSON);
				
				window.entryPhoto = "/static/images/presentPages/officialDemo/officialDemo.jpg";
			})
		</script>
	</head>
		
	<body style="overflow:hidden;">

		<audio style="position:absolute; display:none;">
			<source src="/static/audio/official_demo.mp3" type="audio/mpeg">
		</audio>
		
		<div id="display">
			<div id="loading_page">
				<img id="loading_img" src="/static/images/presentPages/cloudsliders/officialDemo.jpg"/>
				<div id="loading_describe">Loading...</div>
			</div>
			
			<div id="text_window" >
				<div id="text_display"></div>
			</div>

			<div id="photos_display"></div>
			<div id="button_container">
				<img src="/static/images/presentPages/cloudsliders/control_panel_bg.png" style="opacity:0.6;" class="bg_img"/>
				<div id="previous_button" style="display:none;">
					<img src="/static/images/presentPages/cloudsliders/preview_button.png" class="bg_img"/>
				</div>
				<div id="animate_play_button" style="display:none;">
					<img src="/static/images/presentPages/cloudsliders/play_button.png" class="bg_img"/>
				</div>
				<div id="pause_button" style="display:block;">
					<img src="/static/images/presentPages/cloudsliders/pause_button.png" class="bg_img"/>
				</div>
				<div id="text_play_button">
					<img src="/static/images/presentPages/cloudsliders/text_button.png" class="bg_img"/>
				</div>
				<div id="next_button" style="display:none;">
					<img src="/static/images/presentPages/cloudsliders/next_button.png" class="bg_img"/>
				</div>
			</div>
		</div>

		<script src="/static/js/presentPagesJs/CloudSliders.js"></script>
		
		<script type="text/javascript">
			var viewModel = {
				currentPage: ko.observable(0),
			};
			ko.applyBindings(viewModel);
		</script>
		
	</body>
	
	

</html>